{% extends 'base.html.twig' %}

{% block title %}La liste de nos séries{% endblock %}

{% block body %}

    <div class="row">
    {% for serie in series %}
        <div class="col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <img src="{{ asset('img/'~serie.poster) }}"  class="card-img-top" alt="{{ serie.nom }}">
            <div class="card-body">
                <h5 class="card-title">{{ serie.nom }}
                    {# NEED TP BE FIXED ! NEED TO SHOW TABLE CATEGORIES'S NOM !!!! #}
                <p class="card-text">{# categories.nom  #}</p>
                <a href="{{ path('main_detail', {'id' : serie.id } ) }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
